.jumbotron-search{
    background-color: #25274d;
    color: white;
    padding: 20px 0px;
    text-align: center;
    
    
    }
    .search-icons{
        font-size: 50px;
        padding: 50px 0px;
    
    }
    .Jumbotron{
        padding-top: 10%;
    }
