
.footer ul {
  list-style: none;
  line-height: 2.2em;
  padding-left:0px;
}
.footer a{
  color: white;
}
.site-heading h3{
  font-size : 40px;
  font-weight: 600;
}
.border {
  background: #e1e1e1;
  height: 4px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}

.aboutus-section{
  padding-top:60px;
  padding-bottom:60px;
}

 .image-aboutus-banner {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/673649/pexels-photo-673649.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-position: center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom:110px;
}

.lg-text {
  font-size:52px;
  font-weight: 600;
  text-transform: none;
  color:#fff;
}

.image-aboutus-para {
  color:#fff;
}

h1 {
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #000;
}


h3 {
  line-height: 26px;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  color: #000;
}


.Row{
  padding-left: 10%;
  padding-top: 5%;
  background-color:darkslategray;
  color: white;
}