.header{
    text-align: center;
    color: aliceblue;
    background-color: #25274d;
  }
  .themed-container{
    background-color:lightgray;
padding-top: 2%;
  }
.form-control-bmi{
    text-align: center;
}
.form-group-bmi{
    margin-left: 40%;
}
@media (max-width: 1024px) and (min-width: 200px) {

  .form-group-bmi{
    margin-left: 10%;
  }
  .form-control-bmi{
    text-align: center;
}
}