.App {
    display: flex;
   
    width: 100%
    
    
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-y: scroll
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
 
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: auto;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  
  padding: 0;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}




/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background:#042330;
  color: #fff;
  margin-left: -255px;
  transition: all 0.5s;
  overflow: hidden;
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
}


.sidebar-header {
  background: #023347;
}

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
    color: #fff;
    padding: 5px;
}

.menu-open {
  background: #042330;
}
.sidebar .nav-item{

  padding: 0px;
  font-size: 15px;



}
.card-img{

  width: 200px;
  height: 180px;
}

.modal-dialog {
  position: absolute;
  top: 51%;
  left: 0%;
  transform: translate(0%, -52%) !important;
}
.sidebar .nav-item:hover {
    color: #fff;
    background: #023347;
    transition: all  .5s;
   
}

.items-menu {
  color: #fff;
  background: #042330;
}

li a.dropdown-toggle::after {
    display: inline-flex;
    position: relative;
    left: 5%;
    top: 10%
}

.sidebar-header > span {
    position: relative;
    float: right;
    margin: .5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.side-menu {
  height:calc(100vh - 100px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background:#023e58; 
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #076d96; 
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 5px;
  margin-left: auto;

}
.card-text
{
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.card-image{

  width: 100%;
  height: 100%;
}
.card-title
{

overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}

.card-subtitle
{

overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}

.card-body{

background-color: rgba(0,0,0,0.1);

border-top-left-radius: 70px;
border-top-right-radius: 70px;

}

.card:hover .card-body{

 
    background: rgba(0,0,0,0.2);


  


}

@media only screen and (max-width: 400px) {
    body {
      overflow-y:  scroll;
      
    }
    
    

    .content.is-open {
      margin-left: 100%;
    }

    .sidebar.is-open {
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      transition: all 0.5s, height 0s;
    }

    .sidebar.is-open > .sidebar-header span{
      display: unset;
    }

    li a.dropdown-toggle::after {
        display: inline-block;
        position: relative;
        left: 68%;
    }
}
